.container {
    text-align: center;
}

.referencias-titulo {
    background-color: rgb(161, 161, 161);
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid black 1px;
}

.img {
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img img {
    max-width: 150px;
    margin: 10px;
}

.imagens {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
}